pkgbase = gdm
	pkgdesc = Display manager and login screen
	pkgver = 49beta
	pkgrel = 2
	url = https://gitlab.gnome.org/GNOME/gdm
	arch = x86_64
	license = GPL-2.0-or-later
	checkdepends = check
	makedepends = dconf
	makedepends = docbook-xsl
	makedepends = git
	makedepends = glib2-devel
	makedepends = gobject-introspection
	makedepends = meson
	makedepends = plymouth
	makedepends = yelp-tools
	depends = accountsservice
	depends = audit
	depends = bash
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = gnome-session
	depends = gnome-shell
	depends = json-glib
	depends = keyutils
	depends = libcanberra
	depends = libgudev
	depends = pam
	depends = systemd-libs
	depends = upower
	source = git+https://gitlab.gnome.org/GNOME/gdm.git#tag=49.beta
	b2sums = 8d624ede1bc8d17dc66e6a1b67bad500c0a11d872bbb0608af65459a5175de3e3b28fe79d0445ffd5526861e4ef17929fcefb62221984f709d992b7d53ef3daf

pkgname = gdm
	groups = gnome
	depends = accountsservice
	depends = audit
	depends = bash
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = gnome-session
	depends = gnome-shell
	depends = json-glib
	depends = keyutils
	depends = libcanberra
	depends = libgudev
	depends = pam
	depends = systemd-libs
	depends = upower
	depends = libgdm
	optdepends = fprintd: fingerprint authentication
	backup = etc/gdm/PostSession/Default
	backup = etc/gdm/PreSession/Default
	backup = etc/gdm/custom.conf
	backup = etc/pam.d/gdm-autologin
	backup = etc/pam.d/gdm-fingerprint
	backup = etc/pam.d/gdm-launch-environment
	backup = etc/pam.d/gdm-password
	backup = etc/pam.d/gdm-smartcard

pkgname = libgdm
	pkgdesc = Display manager and login screen - support library
	depends = dconf
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = libglib-2.0.so
	depends = libgobject-2.0.so
	depends = libgio-2.0.so
	depends = libsystemd.so
	depends = systemd-libs
	provides = libgdm.so
