pkgbase = gdm
	pkgdesc = Display manager and login screen
	pkgver = 49alpha.0
	pkgrel = 1
	url = https://gitlab.gnome.org/GNOME/gdm
	arch = x86_64
	license = GPL-2.0-or-later
	checkdepends = check
	makedepends = dconf
	makedepends = docbook-xsl
	makedepends = git
	makedepends = glib2-devel
	makedepends = gobject-introspection
	makedepends = meson
	makedepends = plymouth
	makedepends = yelp-tools
	depends = accountsservice
	depends = audit
	depends = bash
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = gnome-session
	depends = gnome-shell
	depends = json-glib
	depends = keyutils
	depends = libcanberra
	depends = libgudev
	depends = pam
	depends = systemd-libs
	depends = upower
	source = git+https://gitlab.gnome.org/GNOME/gdm.git#tag=49.alpha.0
	b2sums = ced95a821eef70268191f382633271ed7f2509d9ebb36072037ee015f3740bd64f1dc9392c51ba4fc2f36a45679be8ee90ee66c4b6c051f295659a9225b09608

pkgname = gdm
	groups = gnome
	depends = accountsservice
	depends = audit
	depends = bash
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = gnome-session
	depends = gnome-shell
	depends = json-glib
	depends = keyutils
	depends = libcanberra
	depends = libgudev
	depends = pam
	depends = systemd-libs
	depends = upower
	depends = libgdm
	optdepends = fprintd: fingerprint authentication
	backup = etc/gdm/PostSession/Default
	backup = etc/gdm/PreSession/Default
	backup = etc/gdm/Xsession
	backup = etc/gdm/custom.conf
	backup = etc/pam.d/gdm-autologin
	backup = etc/pam.d/gdm-fingerprint
	backup = etc/pam.d/gdm-launch-environment
	backup = etc/pam.d/gdm-password
	backup = etc/pam.d/gdm-smartcard

pkgname = libgdm
	pkgdesc = Display manager and login screen - support library
	depends = dconf
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = libglib-2.0.so
	depends = libgobject-2.0.so
	depends = libgio-2.0.so
	depends = libsystemd.so
	depends = systemd-libs
	provides = libgdm.so
