pkgbase = gdm
	pkgdesc = Display manager and login screen
	pkgver = 49alpha.1
	pkgrel = 1
	url = https://gitlab.gnome.org/GNOME/gdm
	arch = x86_64
	license = GPL-2.0-or-later
	checkdepends = check
	makedepends = dconf
	makedepends = docbook-xsl
	makedepends = git
	makedepends = glib2-devel
	makedepends = gobject-introspection
	makedepends = meson
	makedepends = plymouth
	makedepends = yelp-tools
	depends = accountsservice
	depends = audit
	depends = bash
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = gnome-session
	depends = gnome-shell
	depends = json-glib
	depends = keyutils
	depends = libcanberra
	depends = libgudev
	depends = pam
	depends = systemd-libs
	depends = upower
	source = git+https://gitlab.gnome.org/GNOME/gdm.git#tag=49.alpha.1
	b2sums = 630ef6a551019b6d34e3141e7d99112f939bd41ed9034db2f22b94216a8a4b93716b7697c7d7e73c9956f9214c551c5fa6c4dfd5eaee16e7ae562986e1d5be41

pkgname = gdm
	groups = gnome
	depends = accountsservice
	depends = audit
	depends = bash
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = gnome-session
	depends = gnome-shell
	depends = json-glib
	depends = keyutils
	depends = libcanberra
	depends = libgudev
	depends = pam
	depends = systemd-libs
	depends = upower
	depends = libgdm
	optdepends = fprintd: fingerprint authentication
	backup = etc/gdm/PostSession/Default
	backup = etc/gdm/PreSession/Default
	backup = etc/gdm/custom.conf
	backup = etc/pam.d/gdm-autologin
	backup = etc/pam.d/gdm-fingerprint
	backup = etc/pam.d/gdm-launch-environment
	backup = etc/pam.d/gdm-password
	backup = etc/pam.d/gdm-smartcard

pkgname = libgdm
	pkgdesc = Display manager and login screen - support library
	depends = dconf
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = libglib-2.0.so
	depends = libgobject-2.0.so
	depends = libgio-2.0.so
	depends = libsystemd.so
	depends = systemd-libs
	provides = libgdm.so
